* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}
.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffff;
  margin: 3% 2%;
}
.game-board {
  width: 100%;
  height: 98vh;
  border-bottom: 15px solid rgb(51, 255, 0);
  background: linear-gradient(#87cee8, #e0f6ff);
  margin: 0px auto;
  overflow: hidden;
  position: relative;
}
.pipe {
  position: absolute;
  height: 80px;
  bottom: 0;
  animation: animation-pipe 1.5s linear infinite;
}

@keyframes animation-pipe {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}
.mario {
  position: absolute;
  width: 150px;
  bottom: 0px;
}
.jump {
  animation: mario-animation-jump 500ms ease-out;
}
@keyframes mario-animation-jump {
  0% {
    bottom: 0px;
  }
  40% {
    bottom: 180px;
  }
  50% {
    bottom: 180px;
  }
  60% {
    bottom: 180px;
  }
  100% {
    bottom: 0px;
  }
}
.nuvem {
  position: absolute;
  width: 400px;
  animation: animation-nuvem 6s infinite linear;
  right: 0;
}
@keyframes animation-nuvem {
  from {
    right: -400px;
  }
  to {
    right: 100%;
  }
}
.btn-restart {
  position: absolute;
  display: none;
  top: 255px;
  left: 45%;
  background-color: cadetblue;
  color: white;
  border: none;
  height: 55px;
  width: 150px;
  cursor: crosshair;
  border-radius: 11% 5% 11%;
  transition: 1s;
}
.btn-restart:hover {
  background-color: transparent;
  border: solid 1px #000;
  color: #000;
  transform: scaleY(1.1);
  border-radius: 4% 16% 4%;
}
.jumpMoba {
  height: 90px;
  width: 90px;
  font-weight: 700;
  border-radius: 100%;
  border: none;
  background-color: #87cee8;
  color: white;
  position: absolute;
  top: 80%;
  left: 90%;
  animation: btnJump infinite ease 2s;
  cursor: grab;
}
.jumpMoba::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  background-color: aqua;
  border-radius: 20%;
  z-index: -1;
  color: white;
}
@keyframes btnJump {
  0% {
    transform: rotate(0deg);
    border-radius: 100%;
    height: 49px;
    width: 49px;
  }
  50% {
    height: 60px;
    width: 60px;
    border-radius: 12%;
    transform: rotate(350deg);
  }
  100% {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    transform: rotate(0deg);
  }
}
.modal {
  flex-wrap: wrap;
  margin-top: 10%;
  text-align: center;
  color: #000;
  width: 100vw;
  height: 100vh;
  background-color: #87cee8;
}
#pontos {
  background-color: #40aad1;
  color: #e0f6ff;
  border-radius: 90px;
  position: absolute;
  left: 90%;
  top: 2%;
  width: 90px;
  height: 30px;
  padding: 20px;
  text-align: center;
  animation: pnts 3s infinite;
}
@keyframes pnts {
  0% {
    background-color: #40aad1;
    border-radius: 60% 10%;
  }
  50% {
    background-color: #40aad183;
    border-radius: 10% 60%;
  }
  100% {
    border-radius: 50%;
  }
}
